body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App, .App-header {
  text-align: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 3vmin);
  color: white;
  margin: 0;
}

.App-header, .results {
  max-width: 90vw;
}

.results {
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:20px;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.results::-webkit-scrollbar {
  display: none;
}

.list {
  width: fit-content;
  list-style: none;
  padding: 0;
}

.App-link {
  color: #61dafb;
}

.label {
  font-size: calc(10px + 2vmin);
  margin: 0;
}

.letter {
  width:2em;
  background-color: #538d4e;
  margin-right: .1em;
  margin-left: .1em;
  caret-color: transparent;
}

.misplaced {
  background-color: #b59f3b;
}

.rejects {
  background-color: #3a3a3a;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 5px 0;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

a {
  color: inherit;
}

input {
  color: white;
  font-size:1em;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 0;
  margin: 15px 0 20px;
  height: 2em;
  letter-spacing: 5px;
  transition: transform 0.3s ease-in-out;
}

input.misplaced,input.rejects {
  width: 10.8em;
}

input:focus {
  outline: thick solid white;
}

input.letter:focus {
  transform: scale(1.2);
}

input.misplaced:focus,input.rejects:focus {
  transform: scale(1.05, 1.2);
}

input::selection {
  background: none;
}
